 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
			I recently move to New York from Seattle, and I'm looking for my
			next gig. I'm interested in a full-time CTO role or
			consulting work.
		    </p>
		    <p>
			I have over 17 years of software engineering experience, and
			am proud of my extensive track record of successful products. 
			In addition to writing code and designing complex systems,
			I have recruited and managed engineering teams,
			and have done extensive product and project management.
		    </p>
		</div>
                <div class="col-lg-4">
                    <b>Tech Skills Include</b>
		    <ul>
			<li>
			    Python (Pyramid, Pylons, Pandas)
			</li>
			<li>
			    Ruby on Rails
			</li>
			<li>
			    PostgreSQL (and MySQL, Sql Server, Sqlite)
			</li>
			<li>
			    SOLR/Lucene (and Redis)
			</li>
			<li>
			    DevOps and Automation
			</li>
		    </ul>
		    <b>Interests</b>
		    <ul>
			<li>
			    Accessibility
			</li>
			<li>
			    Rapid physical prototyping
			</li>
			<li>
			    Machine Learning 
			</li>
			<li>
			    VR/AR (Vive, HoloLens, Unity)
			</li>
			<li>
			    Startups (co-founded 2500+ member <a href="http://www.seattletechstartups.com">Seattle Tech Startups</a> group)
			</li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
