<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
		<p>
		    I have 17+ years of experience as a software engineer, entrepreneur, and team builder.
		    I founded and sold two
		    startups (BillMonk, Precision Polling), and built a new 8-figure ARR business at SurveyMonkey (Audience).
		</p>
		<p>
		    I'm a hands-on technical leader who has built
		    software products from the ground up, run large
		    engineering teams, and provided 
		    guidance at the executive and board level.  I'm
		    motivated by product success and business growth,
		    not technology for technology's sake. 
		    <!-- 
		    and speed, so I'm largely technology agnostic;
			 though I'm strongest in Linux and Python.
		       -->
		    <!-- I have a computer
		    science degree from Swarthmore College ('00).
		    -->
		</p>
		<p>
		    I recently moved from Seattle to New York City, and 
		    <strong>I am looking for a full-time CTO role or
		    consulting opportunities.</strong>
		</p>
		<p>
		    <a href="https://www.linkedin.com/in/cgroom/">See my LinkedIn profile</a> for more career details.
		</p>
	    </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Hilights</h3>
		    <ul>
			<li>
			    Founded and sold two software companies.
			</li>
			<li>
			    Built an 8-figure ARR business at SurveyMonkey from scratch.
			</li>
			<li>
			    Was a <a href="http://www.businessinsider.com/amazon-bar-raisers-2014-1">bar-raiser</a> at Amazon, conducted 200+ interviews.
			</li>
			<li>
			    Presented to Jeff Bezos at Amazon, awarded <a href="https://encrypted.google.com/patents/US8112324?cl=un">patent</a> for this work. 
			</li>
			<li>
			    Chair of technical leadership council as 
			    SurveyMonkey grew from 50 to 700 people.
			</li>
			<li>
			    Co-founded <a href="http://www.seattletechstartups.com:">Seattle Tech Startups</a> group with 2500+ members, <a href="https://www.geekwire.com/2011/geeks-give-gaurav-oberoi-chuck-groom-seattle-tech-startups/">honored by GeekWire</a>.
			</li>
			<li>
			    Gave technical talk at Google about BillMonk.
			</li>
		    </ul>
	    </div>
        </div>
    </div>
</section>
