<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
		<p>
		    I have 17+ experience as a software engineer, manager, and entrepreneur. I founded and sold two
		    startups (BillMonk, Precision Polling), and have
		    another small cash-generating startup (Top Shelf
		    Data).  At SurveyMonkey, I worked with my longtime
		    friend <a href="https://www.linkedin.com/in/goberoi/">Gaurav Oberoi</a> to build a new business unit,
		    SurveyMonkey Audience, from scratch to an 8-figure
		    business.
		</p>
		<p>
		    While I've worn many job titles, my de-facto role is a
		    <b>technical team leader</b> who provides a combination of
		    software architecture, coding,
		    people management, project tracking, and product
		    guidance.
		    I'm motivated by product success and
		    speed, so I'm largely technology agnostic;
		    though I'm strongest in Linux and Python.
		    <!-- I have a computer
		    science degree from Swarthmore College ('00).
		    -->
		</p>
		<p>
		    <a href="https://www.linkedin.com/in/cgroom/">See my LinkedIn profile</a> for more career details.
		</p>
		<p>
		    I recently moved from Seattle to New York City, and 
		    <strong>I am looking for a full-time CTO role or
		    consulting opportunities.</strong>
		</p>
	    </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Career Hilights</h3>
		    <ul>
			<li>
			    Founded 3 companies, sold 2.
			</li>
			<li>
			    $10+ million in charity donations by SurveyMonkey Audience.
			</li>
			<li>
			    Participated in SurveyMonkey's growth from 50 to 700 people.
			</li>
			<li>
			    Presented to Jeff Bezos at Amazon.
			</li>
			<li>
			    Conducted 200+ technical interviews in one year.
			</li>
			<li>
			    Co-founded <a href="http://www.seattletechstartups.com:">Seattle Tech Startups</a> group with 2500+ members.
			</li>
			<li>
			    Invited to speak at Google.
			</li>
			<li>
			    Published a video game (<a href="https://github.com/chuckgroom/spiked2.1">Spiked</a>) when I was a teenager.
			</li>
		    </ul>
	    </div>
        </div>
    </div>
</section>
