<section class="success" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-sm-8">
                    <p>
			I like to build things, ride my bike, and listen to music. 
		    </p>
		    <p>
			In terms of "building things," I cast a pretty
			wide net to include crafts, gardening,
			cooking, software, and hardware -- in my mind,
			it's all one mixed-up jumble of "what are my
			current projects?"  My idea of a good Sunday
			is to hole up in a woodshop for most of the
			day, pop by the farmer's market for groceries,
			then stay up late wiring up a Raspberry Pi to
			do ridiculous things to the cat.
		    </p>
		    <p>
			I'm currently most interested in these technologies:
			<ul>
			    <li>
				<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			    </li>
			    <li>
				<b>Rapid phyiscal prototyping</b>. I have a <a href="https://medium.com/@cgroom/glowforge-first-thoughts-and-impressions-8793b2eb9d5">Glowforge laser cutter</a> (I was a minor angel investor) and I'm obsessed by the
				potential of in-home precision tooling.
			    </li>
			    <li>
				<b>AR/VR</b>. While I realize the "gold rush" of investment in VR media is drying up, I think there's real industrial and
				business potential in AR/VR beyond entertainment. I'm spending time on Unity classes and my own Vive projects.
			    </li>
			</ul>
		    </p>
		</div>
                <div class="col-sm-4">
                    <h3 style="margin-top:0">Some Projects</h3>
		    <ul>
			<li>
			    <a href="https://hackernoon.com/building-open-aps-a-low-cost-traffic-signal-for-low-vision-and-blind-pedestrians-using-a-glowforge-84e18d10f3aa">Open APS</a>: a low-cost traffic signal for blind and low-vision pedestrians
			</li>
			<li>
			    Writing about <a href="https://medium.com/@cgroom/on-writing-tech-specs-6404c9791159">good software process</a> and
			    <a href="https://medium.com/@cgroom/the-startup-ctos-guide-to-ops-1-of-3-guiding-principles-2607e21d9f89">DevOps</a>
			</li>
			<li>
			    Building a <a href="https://hackhew.com/2016/07/20/building-a-kayak-pygmy-pinguino-sport/">kayak</a>
			</li>
			<li>
			    <a href="https://hackhew.com/2015/09/14/pegoda-a-greenhouse-reimagined/">Re-purposing</a> a greenhouse into a pegoda
			</li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
