<section class="success" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			My personal interests include:
			<ul>
			    <li>
				<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			    </li>
			    <li>
				<b>Rapid physical prototyping</b>. I have a <a href="https://medium.com/@cgroom/glowforge-first-thoughts-and-impressions-8793b2eb9d5">Glowforge laser cutter</a> (I was a minor angel investor) and I'm obsessed by the
				potential of in-home precision tooling.
			    </li>
			    <li>
				<b>Creating things in general.</b> I've always been into woodworking, gardening, software, and hardware; I'm constantly
				seeking out new projects.
			</ul>
		    </p>
		</div>
                <div class="col-sm-6">
                    <h3 style="margin-top:0">Recent Projects</h3>
		    <ul>
			<li>
			    <a href="https://hackernoon.com/building-open-aps-a-low-cost-traffic-signal-for-low-vision-and-blind-pedestrians-using-a-glowforge-84e18d10f3aa">Open APS</a> is a low-cost traffic signal for blind and low-vision pedestrians.
			</li>
			<li>
			    I write about <a href="https://medium.com/@cgroom/on-writing-tech-specs-6404c9791159">good software process</a> and
			    <a href="https://medium.com/@cgroom/the-startup-ctos-guide-to-ops-1-of-3-guiding-principles-2607e21d9f89">DevOps</a>.
			</li>
		    </ul>
		    <h3>Other Things</h3>
		    <ul>
			<li>
			    Built a <a href="https://hackhew.com/2016/07/20/building-a-kayak-pygmy-pinguino-sport/">kayak</a>.
			</li>
			<li>
			    <a href="https://hackhew.com/2015/09/14/pegoda-a-greenhouse-reimagined/">Re-purposed</a> a greenhouse into a pagoda.
			</li>
			<li>
			    Published a video game (<a href="https://github.com/chuckgroom/spiked2.1">Spiked</a>) when I was a teenager.
			</li>
		    </ul>
                </div>
            </div>
        </div>
    </section>
